streamlit==1.35.0
tensorflow==2.16.1
scikit-learn==1.4.2
joblib==1.4.2
pandas==2.2.2
numpy==1.26.4
matplotlib==3.8.4
keras==3.3.3
h5py==3.11.0
protobuf==4.25.3
altair==5.2.0
pydeck==0.8.1b0
